---
---
body {
    background: #e2e2e2;
    font: 18px/1.4 Helvetica, Arial, sans-serif;
    color: #222;
	
/*	background: #0028d2;
	background-image: url(bg.jpg);
	background-size: 50%;
	background-blend-mode: overlay;
	background-position: 0 214px;*/
}
h1 {
	margin: 0;
    font-weight: normal;
}
a {
	color: #0080FF;
}
.site-avatar {display:none;}
.wrapper-masthead {
	background: #2c004e;
	color: white;
	background-image: url(bg.jpg);
	background-blend-mode: hard-light;
	background-size: cover;
    background-position: 50% 45%;
	margin-bottom: 30px;
	border-bottom: 1px solid #ff5a00;
}
.masthead {
	border-bottom: 0;
    padding: 68px 0 34px 0;
}
.site-info {
	mix-blend-mode: overlay;
	margin-left: 26px;
}
.site-name, .site-description {
	color: white;
}
.site-name {
	/*font-family: 'Mrs Saint Delafield', cursive;*/
	font-size: 114px;
	line-height: 97px;
	letter-spacing: 0px;
	cursor: initial;
	font-weight: 200;
}
.site-name a:hover {
	color: pink;
}
.site-description {
	font-size: 27px;
	letter-spacing: 9px;
	color: #4f0067;
	background: #bfbfbf;
	line-height: 20px;
	padding: 0 10px;
}
nav {
	margin-top: 88px;
}
nav a {
	color: #fff;
	mix-blend-mode: hard-light;
	background: #c20000;
    padding: 0px 6px;
    margin-left: 12px;
    text-transform: lowercase;
	border-left: 13px solid #ff5a00;
}
#page nav .page-blog, #page-Art nav .page-art, #page-About nav .page-info, {
	background: #a831b0;
    border-left: 13px solid #f900ff;
}
nav a:hover {
	color:pink;
	
  background: #b7f7ff;
}
#main .post {
	background-color:#2f6bd5;
	background-image: url(bg.jpg);
	background-blend-mode: overlay;
	background-position: 27px -41px;
	background-size: cover;
}
.posts > .post {
    padding-bottom: 0!important;
	border-bottom: 0;
	margin-bottom: 2em;
}
#main h1 {
    padding: 1em 59px .25em;
	text-shadow: 1px 1px 10px #004089;
}
#main h1 a:link {
	color: white;
}
#main h1 a:hover {

}
.date {
	font-style: normal;
	font-size: 12px;
    float: right;
	margin-top: 23px;
    letter-spacing: 2px;
	color: white;
	text-shadow: 1px 1px 10px #004089;
}
.entry {
	background: #eee;
	padding: 6px 50px 14px 33px;;
	line-height: 1.5;
	border-left: 26px solid #f8f9ee;
}
.entry a:hover {
	color: #00b07d;
	background: #e6ff41;
}
.wrapper-footer {
	background: #eaeaea;
}
.wrapper-footer i {
	mix-blend-mode: hard-light;
}
@media screen and (max-width: 640px) {
	nav {
		margin-top: 1em;
	}
	.site-info {
		margin-left: 0;
	}
	.site-name {
		font-size: 430%;
		line-height: 68%;
	}
	.site-description {
		font-size: 80%;
	}
	#main h1, .entry, .date {
		border: 0;
		padding: 5px 5%;
		margin: 0;
		float: none;
	}
	#main h1 {
		font-size: 150%;
	}
	.date {
		display: block;
		margin: 0;
		padding: 0 0 6px;
	}
	.wrapper-masthead {
		margin-bottom: 10px;
	}
	.entry {
		font-size: .9em;
	}
	.wrapper-footer {
		margin: 0;
	}
}
